{% extends "base.html.twig" %}

{% block title %}{{ book.title }} | Bibliotek{% endblock %}

{% block body %}
{{ block("liblinks", "library/lib-links.html.twig") }}
<h1>Gabriel's bibliotek</h1>

{% if book %}
<p>Här är information om boken.</p>
<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>Författare</th>
            <th>ISBN-nummer</th>
            <th>Bild</th>
            <th>Ändra</th>
            <th>Ta bort</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td><img src="{{ book.image }}" width="200px" alt="Bokens bild"></td>
            <td><a href="{{ path('lib_update_form', {'id': book.id}) }}">Redigera info</a></td>
            <td><a href="{{ path('lib_delete_form', {'id': book.id}) }}">Ta bort bok</a></td>
        </tr>
    </tbody>
</table>

{% else %}
<p>Boken kunde inte hittas.</p>

{% endif %}

{% endblock %}
