{% extends "base.html.twig" %}

{% block title %}{{ book.title }} | Bibliotek{% endblock %}

{% block body %}
{{ block("liblinks", "library/lib-links.html.twig") }}
<h1>Gabriel's bibliotek</h1>

{% if book %}
<p>Här är information om boken.</p>
<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>Författare</th>
            <th>ISBN-nummer</th>
            <th>Ändra</th>
            <th>Ta bort</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td><a href="/library/edit/{{ book.id }}">Redigera info</a></td>
            <td><a href="/library/delete/{{ book.id }}">Ta bort bok</a></td>
        </tr>
    </tbody>
</table>

{% else %}
<p>Boken kunde inte hittas.</p>

{% endif %}

{% endblock %}
