{% extends "project/project-base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
    <h1>Blackjack</h1>
    <p>Spelarnamn: {{ blackJack.player.getName }}</p>
    <p>Händer: {{ blackJack.player.getHands|length }}</p>    
    <p>Schilling kvar: {{ blackJack.player.getMoney }}</p>

    <div class="hands-container">
    {% for handIndex, hand in blackJack.player.getHands() %}
        {% if blackJack.player.getCurrentHand == handIndex and not blackJack.player.getStand %}
        <div class="hand-box current-hand">
        {% else %}
        <div class="hand-box">
        {% endif %}
        <h3>Spelares hand {{ handIndex + 1}}:</h3>
        {% for cardIndex, card in hand.hand %}
            <figure>
                <img src="{{ asset('img/cards/' ~ card.getUrl()) }}" width="64px" alt="Spelarens kort">
                <figcaption>{{ blackJack.getPlayerScore(handIndex)[cardIndex] }}</figcaption>
            </figure>
        {% endfor %}

        <p>{{ "Total poäng: " ~ blackJack.player.getScore(handIndex)|reduce((carry, item) => carry + item, 0) }}</p>
        <p>{{ "Bet: " ~ blackJack.player.getBets[handIndex] ~ " Schilling" }}</p>

        {% if blackJack.getWinner(handIndex) == "player" %}
        <p class="pay-text green-text-bg">+{{ blackJack.player.getWinnings()[handIndex]}} Schilling (+ {{ blackJack.player.getBets()[handIndex]}} i insats)</p>
        {% elseif blackJack.getWinner(handIndex) == "dealer" %}
        <p class="pay-text red-text-bg">{{ blackJack.player.getWinnings()[handIndex]}} Schilling (insatsen)</p>
        {% elseif blackJack.getWinner(handIndex) == "draw" %}
        <p class="pay-text yellow-text-bg">Insats returnerad</p>
        {% endif %}

        </div>
    {% endfor %}
        <div class="hand-box">
        <h3>Givens hand:</h3>
        {% if blackJack.player.getStand %}
        {% for cardIndex, card in blackJack.dealer.getHand %}
            <figure>
                <img src="{{ asset('img/cards/' ~ card.getUrl()) }}" width="64px" alt="Givens kort">
                <figcaption>{{ blackJack.getDealerScore()[cardIndex] }}</figcaption>
            </figure>
        {% endfor %}
        <p>{{ "Total poäng: " ~ blackJack.dealer.getScore()|reduce((carry, item) => carry + item, 0) }}</p>
        {% else %}
        <p>Korten visas när du spelat dina händer</p>
        {% endif %}
        </div>
    </div>

    <form method="POST" action="">
        {% if not blackJack.player.getStand %}
        <input class="blackjack-button" type="submit" name="show" value="Dra kort"
        onClick="this.form.action='{{ path('proj_draw') }}';">

        <input class="blackjack-button" type="submit" name="show" value="Stanna"
        onClick="this.form.action='{{ path('proj_stand') }}';">

        {% elseif blackJack.player.getStand and not blackJack.dealer.getStand %}
        <input class="blackjack-button" type="submit" name="show" value="Låt datorn spela"
        onClick="this.form.action='{{ path('proj_draw') }}';">

        {% elseif blackJack.player.getStand and blackJack.dealer.getStand and blackJack.player.getMoney > 0 %}
        <input class="blackjack-button" type="submit" name="show" value="Fortsätt spela"
        onClick="this.form.action='{{ path('proj_continue') }}';">

        {% endif %}
        <input class="blackjack-button" type="submit" name="show" value="Starta om spelet"
        onClick="this.form.action='{{ path('proj_restart_game') }}';">
    </form>

{% endblock %}